<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{- partial "head.html" . -}}
        {{- partial "extendhead.html" . -}}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TKJP5MBRWB"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-TKJP5MBRWB');
        </script>
    </head>
    <body>
        {{- partial "header.html" . -}}
        <main>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
