{{ define "main" }}
<div class="min-h-80 contact-form">
    <div class="container">
    <hgroup>
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
    </hgroup>
    <form name="contact" method="POST" action="{{ .Site.Params.contactFormAction | relURL }}" >
        <input name="_redirect" type="hidden" id="name" value="{{"/thanks/" | absURL}}">
        <input name="_formsubmit_id" type="text" hidden>
        <div class="grid">
      
          <label for="firstname">
            First name
            <input type="text" id="firstname" name="firstname" placeholder="First name" required>
          </label>
      
          <label for="lastname">
            Last name
            <input type="text" id="lastname" name="lastname" placeholder="Last name">
          </label>
      
        </div>
      
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" placeholder="Email address" required>
        <small>We'll never share your email with anyone else.</small>

        <label for="email">Your message</label>
        <textarea name="message" id="message" cols="30" rows="5" style="resize: none;" required></textarea>
        <small>Please let me know how I can help you.</small>
      
        <input type="submit">
      
      </form>
    </div>
</div>
{{ end }}