{{ define "main" }}
<div class="container">
  <hgroup>
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{- partial "post_meta.html" . -}}
    <p>{{ .Description }}</p>
  </hgroup>
  {{- if .Params.tags }} {{- range ($.GetTerms "tags") }}
  <a href="{{ .Permalink }}">
    <kbd>{{ .LinkTitle }}</kbd>
  </a>
  {{- end }} {{- end }}

  <div class="grid grid-main">
    <div>
      {{- if (.Param "ShowToc") }}
        <article class="toc">
          {{- partial "toc.html" . }} 
        </article>
      {{- end }}
      
      {{if .Params.Cover.Image }}<img
        class="cover"
        src="{{.Params.Cover.Image | absURL}}"
        width="600"
        height="400"
        align="left"
        layout="responsive"
      >
      </img
      >{{end}}
    
      <div class="post">
        
        {{ partial "social-share.html" . }} {{- if not (.Param
        "disableAnchoredHeadings") }} {{- partial "anchored_headings.html"
        .Content -}} {{- else }}{{ .Content }}{{ end }}
      </div>

      {{ partial "social-share.html" . }}
    </div>
    
    {{- if (.Param "ShowRelated") }} 
    <aside>
      <article>
        {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with
        $related }}
        <h3>See Also</h3>

        {{ range . }}

        <a href="{{ .RelPermalink }}">
          <hgroup>
            <h4><i>{{ .Title }}</i></h4>
            <p>{{- partial "post_meta.html" . -}}</p>
          </hgroup>
        </a>

        {{ end }} {{ end }} 
      </article>
    </aside>
    {{ end }}
    
  </div>
  <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-vocal-rabanadas-6f33e3-netlify-app.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{{ end }}
